###############################################################################
#  AI Providers – OpenAI
###############################################################################
NEXT_PUBLIC_APP_ENV=development # development | staging | production
OPENAI_API_KEY= # enter your secret here                
OPENAI_API_SPEECH_TEXT_KEY=  # enter your secret here  
